<html>
<body>
<!--Es la parte del titulo-->
<div class="Titulo">
<h1 style="color:rgb(7, 82, 105);"><font face="Comic Sans MS,Arial,Verdana"><b><label>HOSPITAL "LOS ÁNGELES"</label></b></font></h1>
</div>
<!--En el objetivo principal del Hospital-->
<div class="objetivo">
    <h4 style="color:rgb(0, 0, 0);"><font face="Comic Sans MS,Arial,Verdana"><label>Desarrollar acciones de promoción, Prevención, recuperación y rehabilitación de la salud física y mental de la población del ámbito de su jurisdicción, a través de la atención integral a los usuarios de los servicios de atención ambulatoria, de emergencias y urgencias, de hospitalización, de rehabilitación y mediante la proyección de acciones de salud hacia la comunidad.
        <div>Proporcionar el adecuado campo clínico que permita la docencia y capacitación de recursos humanos.</div>
        <div>Fomentar y promover la investigación en el campo de la Salud.</div></label></font></h4>
    </div>
<!--Esta parte pertenece al icono-->
    <div class="icono">
        <img src="https://img.icons8.com/color/96/000000/caduceus.png" width="150" height="150"/>
        </div>