.Titulo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 50vh;
}

.objetivo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 0vh;
}

.icono{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 40vh;
}