<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <h1><a class="navbar-brand"> <font style="color: rgb(103, 182, 155);" > HOSPITAL "Los Angeles"</font></a></h1>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <!--Aqui tenemos el boton para la clase home-->
          <li class="nav-item active">
            <a class="nav-link active" href="home" > <font style="color: rgb(0, 0, 0);" >HOME</font></a>
          </li>
          <!--Aqui tenemos el boton para la clase CONTROL DE MEDICOS-->
          <li class="nav-item">
            <a class="nav-link" href="controlmedicos"> <font style="color: rgb(0, 0, 0);" >CONTROL DE MEDICOS</font></a>
          </li>
          <!--Aqui tenemos el boton para la clase COMTROL DE ESPECIALIDADES-->          
          <li class="nav-item">
            <a class="nav-link" href="controlespecialidades"> <font style="color: rgb(0, 0, 0);" >CONTROL DE ESPECIALIDADES</font></a>
          </li>
          <!--Aqui tenemos el boton para la clase CONTROL DE PACIENTES-->          
          <li class="nav-item">
            <a class="nav-link" href="controlpacientes"> <font style="color: rgb(0, 0, 0);" >CONTROL DE PACIENTES</font></a>
          </li>
          <!--Aqui tenemos el boton para la clase CONTROL DE CONSULTAS-->          
          <li class="nav-item">
            <a class="nav-link" href="controlconsultas"> <font style="color: rgb(0, 0, 0);" >CONTROL DE CONSULTAS</font></a>
          </li>
          <!--Aqui tenemos el boton para la clase CONTROL DE LABORATORIOS-->          
          <li class="nav-item">
            <a class="nav-link" href="controllaboratorios"> <font style="color: rgb(0, 0, 0);" >CONTROL DE LABORATORIOS</font></a>
          </li>
        </ul>
      </div>
    </div>
  </nav>